/* body{
    font-family: baloo da regular;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin-bottom: 150px;
}

img {
    width: 25%;
}

.ceo-img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.mission-img{
    border-radius: 0 70px 70px 0;
}
.vision-img{
    border-radius: 70px 0 0 70px;
}

.story-img{
    border-radius: 0 70px 70px 0;
}


h3, h4{
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}


.text, .founder-text {
    max-width: 500px;
    margin: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: normal;
}


p {
    font-size: 18px;
} */

/* Base styles - Mobile first */
body {
    font-family: baloo da regular;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 20px;
    margin-bottom: 60px;
}

img {
    width: 80%;
    max-width: 300px;
    object-fit: cover;
}

.ceo-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.mission-img {
    border-radius: 0 30px 30px 0;
    height: 200px;
}

.vision-img {
    border-radius: 30px 0 0 30px;
    height: 200px;
}

.story-img {
    border-radius: 0 30px 30px 0;
    height: 200px;
}

h3, h4 {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.text, .founder-text {
    max-width: 90%;
    margin: 10px;
    text-align: center;
}

.founder-card {
    text-align: center;
    width: 80%;
    max-width: 250px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Tablet styles */
@media (min-width: 768px) {
    section {
        flex-direction: row;
        gap: 25px;
        padding: 35px 20px;
        margin-bottom: 100px;
    }

    /* Founder section stays stacked on tablet */
    section.founder {
        flex-direction: column;
        gap: 25px;
    }

    img {
        width: 40%;
        max-width: none;
    }

    .ceo-img {
        height: 250px;
        border-radius: 25px;
    }

    .mission-img {
        border-radius: 0 50px 50px 0;
        height: 250px;
    }

    .vision-img {
        border-radius: 50px 0 0 50px;
        height: 250px;
    }

    .story-img {
        border-radius: 0 50px 50px 0;
        height: 250px;
    }

    h3, h4 {
        font-size: 19px;
    }

    .text, .founder-text {
        max-width: 450px;
        margin: 15px;
        text-align: left;
    }

    .founder-text {
        text-align: center;
    }

    .founder-card {
        width: 60%;
        max-width: 300px;
    }

    h2 {
        font-size: 32px;
        text-align: left;
    }

    p {
        font-size: 17px;
    }

    section.vision {
        flex-direction: row-reverse;
    }

    .vision .text {
        text-align: right;
    }

    .vision h2 {
        text-align: right;
    }
}

@media (min-width: 1024px) {
    section {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        padding: 40px 20px;
        margin-bottom: 150px;
    }

    section.founder {
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        width: 25%;
    }

    .ceo-img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    .mission-img {
        border-radius: 0 70px 70px 0;
        height: auto;
    }

    .vision-img {
        border-radius: 70px 0 0 70px;
        height: auto;
    }

    .story-img {
        border-radius: 0 70px 70px 0;
        height: auto;
    }

    h3, h4 {
        font-size: 20px;
    }

    .text, .founder-text {
        max-width: 500px;
        margin: 20px;
        text-align: left;
    }

    .founder-card {
        width: auto;
        max-width: none;
    }

    h2 {
        font-size: 40px;
        text-align: left;
    }

    p {
        font-size: 18px;
    }

    /* Vision section - maintain reverse order on desktop */
    section.vision {
        flex-direction: row-reverse;
    }

    .vision .text {
        text-align: right;
    }

    .vision h2 {
        text-align: right;
    }
}